.BlockWithQuestion {
  margin: 50px auto;
  display: flex;
  padding: 20px;
  width: 1000px;
  background-color: #303030;
  border: 0;
  border-radius: 5px;
}

.ContainerForNameAndPlayer {
  margin: 0 20px 20px 30px;
}

.BirdName {
  color: white;
  font-weight: bold;
  font-size: 26px;
}